
/* *{
    color: aliceblue;
} */
.container {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1d2d7; 
    margin-left: 76%;
    width: 19%;
    margin-bottom: 1.5%;
    padding: .7rem 1rem;
    font-weight: 700;
    color: rgb(17, 17, 18);
    margin-top: 0%;
}

.coin-name {
    margin-left: -4rem;
}

.coin-row {
/*     display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(255, 255, 255); 
    border-bottom: solid 1px rgb(41, 41, 46); 
    padding: .7rem 1rem; 

}

.coin-row:hover {
    /* transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer; */
    background-color: rgba(123, 126, 127, 0.484);
    
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
}



@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}